{{#if item}}
    <div class="container-block cart-block">
           <img src="../images/site/{{item.image}}" alt="pizza-image" class="item-image">
           <p class="item-title flex-grow">{{item.title}}</p>
           <p class="item-size flex-grow">{{item.size}}</p>
           <p class="item-qty flex-grow">{{item.qty}}&nbsp;Pcs</p>
           <p class="item-price flex-grow">&#8377;{{item.price}}</p>
    </div>
{{else if status}}
    <div class="container-block">
        <div class="float-left">
            <p class="block-title">Order ID: </p>
            <p class="block-title ">{{_id}}</p>
        </div>
        <div class="float-right">
            <p class="block-title">Address: </p>
            <p class="block-title ">{{address}}</p>
        </div>
    </div>
{{else}}
    <div class="container-block">
            {{#if image}}
                <div class="comic-image"><img src="../images/site/{{image}}" alt="pizza-image"></div>
            {{/if}}
            <p class="block-title">{{title}}</p>
            <p class="block-text">{{size}}</p>
        
            <p class="block-price">&#8377;{{price}}</p>
            <a class="add-entity add-cart js-add-cart" href="#">+ Add</a>
    </div>
    <div class="block-actions">
            <span class="action-edit-block js-edit-block" title="Edit"></span>
    </div>
{{/if}}