{{!-- Comment-creator --}}
<div class="comment-creator js-comment-creator">
    <div class="user-initials"><span>{{creator.initials}}</span></div>
    {{#isCurrentUser creator._id}}
        <span class="name" data-username="{{creator.username}}">You</span>
    {{else}}
        <span class="name" data-username="{{creator.username}}">{{getFirstName creator.name}}</span>
    {{/isCurrentUser}}
</div>
{{!-- More --}}
<span class="more-btn js-more-comment"></span>
{{!-- Comment like --}}
{{#hasCurrentUser likes}}
    <span class="like-btn js-comment-like selected"></span>
{{else}}
    <span class="like-btn js-comment-like"></span>
{{/hasCurrentUser}}
{{!-- Comment-text --}}
<div class='comment-main js-comment-main'>
    <div class="comment-html rich-text js-comment-html">{{{text}}}</div>
    {{!-- Comment-actions --}}
    <p class="comment-actions js-comment-actions">
        {{!-- Comment-respond --}}
        <span class="reply-btn js-comment-respond ">Reply</span>
        {{#if reply_to}}
            <span class="show-parent">Show parent</span>
            {{#isCurrentUser creator._id}}
                <span class="sep-btn">&#183;</span>
            {{else}}{{#isAdmin}}
                <span class="sep-btn">&#183;</span>
            {{/isAdmin}}{{/isCurrentUser}}
        {{/if}}
        {{#isCurrentUser creator._id}}
            <span class="edit-btn">Edit</span>
            <span class="sep-btn">&#183;</span>
            <span class="delete-btn">Delete</span>
        {{else}}
            {{#isAdmin}}
                <span class="delete-btn">Delete</span>
            {{/isAdmin}}
        {{/isCurrentUser}}
    </p>
    <div class="context-menu js-context-comment">
        <div class="triangle">
            <span class="triangle-outer"></span>
            <span class="triangle-inner"></span>
        </div>
        <p class="js-phrase">Get key phrases</p>
        <p class="js-syntax">Syntax analysis</p>
        <p class="js-entity">Recognise entities</p>
        <p class="js-language">Get dominant language</p>
        <p class="js-translate">Translate to English</p>
    </div>
</div>
