<p class="type">{{type}}</p>
<div>{{#if title}}{{title}}{{else}}{{{text}}}{{/if}}</div>
<div class="insight-comments">
    {{#each comments}}
        <span class="one-comment">{{{summary}}}</span>
    {{/each}}
</div>
