{{#is type 'text'}}
    <p class="minimap-btn minimap-text">
        <span class="icon"></span>
        <span class="title">Rich text</span>
    </p>
{{else}}{{#is type 'button'}}
    <p class="minimap-btn minimap-button">
        <span class="icon"></span>
        <span class="title">Button</span>
    </p>
{{else}}{{#is type 'divider'}}
    <p class="minimap-btn minimap-divider">
        <span class="icon"></span>
        <span class="title">Divider</span>
    </p>
{{else}}{{#is type 'toggle_list'}}
    <p class="minimap-btn minimap-toggle-list">
        <span class="icon"></span>
        <span class="title">Toggle list</span>
    </p>
{{else}}{{#is type 'image'}}
    <p class="minimap-btn minimap-image">
        <span class="icon"></span>
        <span class="title">Image</span>
    </p>
{{else}}{{#is type 'audio'}}
    <p class="minimap-btn minimap-audio">
        <span class="icon"></span>
        <span class="title">Audio</span>
    </p>
{{else}}{{#is type 'video'}}
    <p class="minimap-btn minimap-video">
        <span class="icon"></span>
        <span class="title">Video</span>
    </p>
{{else}}{{#is type 'file'}}
    <p class="minimap-btn minimap-file">
        <span class="icon"></span>
        <span class="title">File</span>
    </p>
{{else}}{{#is type 'link'}}
    <p class="minimap-btn minimap-link">
        <span class="icon"></span>
        <span class="title">Web Bookmark</span>
    </p>
{{else}}{{#is type 'gif'}}
    <p class="minimap-btn minimap-gif">
        <span class="icon"></span>
        <span class="title">GIF</span>
    </p>
{{else}}{{#is type 'mcq'}}
    <p class="minimap-btn minimap-mcq">
        <span class="icon"></span>
        <span class="title">MCQ</span>
    </p>
{{else}}{{#is type 'fill'}}
    <p class="minimap-btn minimap-fill">
        <span class="icon"></span>
        <span class="title">Fill in the blanks</span>
    </p>
{{else}}{{#is type 'match'}}
    <p class="minimap-btn minimap-match">
        <span class="icon"></span>
        <span class="title">Match the following</span>
    </p>
{{else}}{{#is type 'response'}}
    {{#is response_type 'text'}}
        <p class="minimap-btn minimap-response-text">
            <span class="icon"></span>
            <span class="title">Text response</span>
        </p>
    {{else}}{{#is response_type 'audio'}}
        <p class="minimap-btn minimap-response-audio">
            <span class="icon"></span>
            <span class="title">Audio recording</span>
        </p>
    {{else}}{{#is response_type 'video'}}
        <p class="minimap-btn minimap-response-video">
            <span class="icon"></span>
            <span class="title">Video recording</span>
        </p>
    {{else}}{{#is response_type 'canvas'}}
        <p class="minimap-btn minimap-response-canvas">
            <span class="icon"></span>
            <span class="title">Drawing</span>
        </p>
    {{else}}{{#is response_type 'file'}}
        <p class="minimap-btn minimap-response-file">
            <span class="icon"></span>
            <span class="title">Upload file</span>
        </p>
    {{/is}}{{/is}}{{/is}}{{/is}}{{/is}}
{{else}}{{#is type 'grid'}}
    <p class="minimap-btn minimap-grid">
        <span class="icon"></span>
        <span class="title">Grid</span>
    </p>
{{else}}{{#is type 'list'}}
    <p class="minimap-btn minimap-list">
        <span class="icon"></span>
        <span class="title">List</span>
    </p>
{{else}}{{#is type 'container'}}
    <p class="minimap-btn minimap-container">
        <span class="icon"></span>
        <span class="title">{{title}}</span>
    </p>
    <div class="child-blocks"></div>
{{else}}{{#is type 'comic'}}
    <p class="minimap-btn minimap-comic">
        <span class="icon"></span>
        <span class="title">Comic strip</span>
    </p>
{{else}}{{#is type 'embed'}}
    <p class="minimap-btn minimap-embed">
        <span class="icon"></span>
        <span class="title">Embed code</span>
    </p>
{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}
