{{!- Courses --}}
{{#and courses courses.length}}
    <div class="search-header">Courses</div>
    {{#each courses}}
        {{#and image image.m}}
            <a class="one-search-result with-image" target="_blank" href="https://framerspace.com/course/{{slug}}">
                <span class="result-image"><span style="background-image:url({{image.m}})"></span></span>
                <span class="result-title">{{{title}}}</span>
            </a>
        {{else}}
            <a class="one-search-result" target="_blank" href="https://framerspace.com/course/{{slug}}">
                <span class="result-title">{{{title}}}</span>
            </a>
        {{/and}}
    {{/each}}
{{/and}}
{{!- Containers --}}
{{#and containers containers.length}}
    <div class="search-header">Containers</div>
    {{#each containers}}
        {{#and image image.m}}
            <a class="one-search-result with-image" target="_blank" href="https://framerspace.com/course/{{course.slug}}/{{_id}}">
                <span class="result-image"><span style="background-image:url({{image.m}})"></span></span>
                <span class="result-title">{{{title}}}</span>
            </a>
        {{else}}
            <a class="one-search-result" target="_blank" href="https://framerspace.com/course/{{course.slug}}/{{_id}}">
                <span class="result-title">{{{title}}}</span>
            </a>
        {{/and}}
    {{/each}}
{{/and}}
