{{#if dp}}
    <p class="user-image" style="background-image:url({{dp.s}})"></p>
{{else}}
    <p class="user-initials"><span>{{initials}}</span></p>
{{/if}}
<p class="name">{{name}} - ({{email}})</p>
<p class="user-permit">
    <span class="change-permit">Invite</span>
</p>
